/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333 !important;

  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#score {
  color: white
}

#message{
  color:white;
}

.cover{
  margin:20px;
}

.main{
 /* border: 1px solid white;*/
  margin-top: 40px;
}

#inner_left{
  border-right : 1px solid white;
  height: 100%; 
}

#inner_right{
  border-left : 1px solid white;
  height: 100%; 
}