html, body {
    min-height: 100%;
}

body {
    font-family: sans-serif;
    background-color: #eee;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

.main {
    width: 100%;
    border: 1px solid black;
}

#gameboard {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*width: 610px;*/
}

#message, #score {
    text-align: center;
    padding: 15px;
    font-size: 2rem;
    width: 35%;
}

.btn {
    background: #3498db;
    text-align: center;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    text-decoration: none;
    cursor: pointer;
    border-color: white;
}

.flipImage {
    animation: fade-in .2s linear;
    width: 100%;
}

.flipImage[src="images/back.jpg"]:hover {
    cursor: pointer;
}

.flipImage:not([src="images/back.jpg"]), .flipImage[src="images/back.jpg"]:hover {
    filter: drop-shadow(5px 5px rgba(0, 0, 0, .2));
}

.flipImage:not([src="images/back.jpg"]) {
    animation: rot-in .2s linear;
    opacity: 0.5;
}

.gameTile {
    margin: 5px;
    padding: 5px;
    width: 196px;
    display: inline-block;
    animation: fade-in .2s linear;
}

.gameTile>.gameTile {
    margin: 0;
    padding: 0;
}

@keyframes rot-in {
    0% {
        transform: rotateY(40deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}
